<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b179d036df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/sass/accueil.css">
    <link rel="icon" href="/public/images/logobar.png" type="image/gif">
    <title>Le délice des sens</title>
</head>