<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <figure>    
            <img class="figure__img" src="images/La_palette_du_gout.jpg" alt="logo du site ohmyfood">
        </figure>
        <section class="section__menu">
            <div class="menu__header">
                <h2 class="menu__title">La palette du goût</h2>
                <i class="far fa-heart"></i>
            </div>
            <div class="menu__card__container">
                <div class="menu__card__grope">
                    <h3>ENTRÉES</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Fricassée d'escargot</p>
                                <p class="menu__card__subdescription">Au piment d'Espelette </p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Foie gras de canard mi-cuit</p>
                                <p class="menu__card__subdescription">Et ses copeaux de truffe noire</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Oeuf au plat</p>
                                <p class="menu__card__subdescription">Assaisonné à la truffe sur lit de caviar</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu__card__grope">
                    <h3>PLATS</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Filet de boeuf aux herbes</p>
                                <p class="menu__card__subdescription">Accompagnées de sa ribembelle de legumes</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Parmentier de queue de boeuf</p>
                                <p class="menu__card__subdescription">À la truffe noire sur sa purée de panais</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Filet de turbot</p>
                                <p class="menu__card__subdescription">Aux agrumes</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu__card__grope">
                    <h3>DESSERTS</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Paris-Brest</p>
                                <p class="menu__card__subdescription">Revisité</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Macaron au chocolat d'exception </p>
                                <p class="menu__card__subdescription">Et glace à la vanille de Madagascar</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Mousse au chocolat </p>
                                <p class="menu__card__subdescription">Au piment d'Espelette et à la truffe noire</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <a href="#">
                <div class="menu__button btn">
                    <p>Commander</p>
                </div>
            </a>
        </section>
        <%- include('../partials/footer') %>
    </body>
</html>