<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <figure>    
            <img class="figure__img" src="images/Le_delice_des_sens.jpg" alt="logo du site ohmyfood">
        </figure>
        <section class="section__menu">
            <div class="menu__header">
                <h2 class="menu__title">Le délice des sens</h2>
                <i class="far fa-heart"></i>
            </div>
            <div class="menu__card__container">
                <div class="menu__card__grope">
                    <h3>ENTRÉES</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Tartare de thon</p>
                                <p class="menu__card__subdescription">Assaisonné au yuzu</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Bouchée de homard croustillant </p>
                                <p class="menu__card__subdescription">Et sa farandole de petits légumes</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Velouté de cèpes </p>
                                <p class="menu__card__subdescription">Aux truffes</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu__card__grope">
                    <h3>PLATS</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Poulet rôti aux herbes de Provence </p>
                                <p class="menu__card__subdescription">Et sa crème de truffe</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Langouste rôtie </p>
                                <p class="menu__card__subdescription">et ses legumes de saison</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Côte de boeuf Angus </p>
                                <p class="menu__card__subdescription">Et sa purée de panais</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu__card__grope">
                    <h3>DESSERTS</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Farandole de desserts</p>
                                <p class="menu__card__subdescription">Du chef</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Crème brulée </p>
                                <p class="menu__card__subdescription">Revisité</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Tiramisu</p>
                                <p class="menu__card__subdescription">À la noisette</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <a href="#">
                <div class="menu__button btn">
                    <p>Commander</p>
                </div>
            </a>
        </section>

        <%- include('../partials/footer') %>
    </body>
</html>