<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <figure>    
            <img class="figure__img" src="<%= restaurant.image %>" alt="logo du site ohmyfood">
        </figure>
        <section class="section__menu">
            <div class="menu__header">
                <h2 class="menu__title"></h2>
                <i class="far fa-heart"></i>
            </div>
            <div class="menu__card__container">
                <div class="menu__card__grope">
                    <h3>ENTRÉES</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Tartare de poulpe acidulé</p>
                                <p class="menu__card__subdescription">Aux zestes d'orange</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Velouté de légumes d'antan</p>
                                <p class="menu__card__subdescription">Carotte, panais, topinambour</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Soupe à l'oignon</p>
                                <p class="menu__card__subdescription">Revisitée</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu__card__grope">
                    <h3>PLATS</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Coquilles Saint-Jacques</p>
                                <p class="menu__card__subdescription">Accompagnées d'une purée de panais</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Magret de canard</p>
                                <p class="menu__card__subdescription">Et parmentier de pomme de terrre</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Pigeonneau d’Ille-et-Vilaine</p>
                                <p class="menu__card__subdescription">Sur son lit de gnocchis aux légumes</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu__card__grope">
                    <h3>DESSERTS</h3>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Pétales de violettes glacés</p>
                                <p class="menu__card__subdescription">Et purée de noisettes</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Fondant au chocolat</p>
                                <p class="menu__card__subdescription">Revisité</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu__card ">
                            <div class="menu__card__description">
                                <p class="menu__card__titledescription">Millefeuille croustillant</p>
                                <p class="menu__card__subdescription">Myrtilles et pâte d’amande</p>
                            </div>
                            <div class="pricecheck">
                                <p class="menu__card__price">35€</p>
                                <div class="menu__card__check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <a href="#">
                <div class="menu__button btn">
                    <p>Commander</p>
                </div>
            </a>
        </section>

        <%- include('../partials/footer') %>
    </body>
</html>