<footer class="footer">
    <h3>ohmyfood</h3>
    <ul class="footer__list__container">            
        <li class="footer__list__txt">
            <i class="fas fa-utensils"></i>
            <p>Poposer un restaurant</p>
        </li>
        <li class="footer__list__txt">
            <i class="fas fa-hands-helping"></i>
            <p>Devenir partenaire</p>
        </li>
        <li class="footer__list__txt">Mentions legales</li>
        <li class="footer__list__txt">
            <a  href="mailto:contact@ohmyfood.com" >Contact</a>
        </li>
    </ul>
</footer>
<script src="/js/main.js" type="module"></script>
<script src="../../data/data-mapper.js" type="module"></script>