<header class="header__menu">
  <a href="/" class="header__logo__content">

    <span class="header__brand">OhMyFood</span>
  </a>
  <nav class="header__nav">
    <a href="/" class="header__nav__link active"><i class="fas fa-home"></i> Accueil</a>
    <a href="/restaurants" class="header__nav__link"><i class="fas fa-utensils"></i> Restaurants</a>
    <a href="/contact" class="header__nav__link"><i class="fas fa-envelope"></i> Contact</a>
  </nav>
</header>