<header class="header__menu"> 

    <a href="/">
        <div class="header__logo__content"> 
            <img class="header__logo" src="images/logo.png" alt="logo du site ohmyfood">
        </div>
    </a>
</header>